body {
  background-color: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.input-message {
  border-radius: 5px;
  position: absolute;
  display: grid;

  top: 33em;
  bottom: 5em;
  left: 1em;
  right: 53em;

  width: 24em;
  height: 1.7em;

  font-size: 25px;
}

.chat-window {
  border: 2px solid purple;
  
  border-radius: 5px;
  position: fixed;
  top: 5em;
  bottom: 5em;
  left: 35em;
  right: 35em;

  height: 56em;
  width: 47em;
}

.chat-messages-window {
  border: 2px solid purple;
  border-radius: 5px;
  position: absolute;
  display: grid;

  top: 2em;
  bottom: 7em;
  right: 2.5em;
  left: 2.5em;



  

}

.send-btn {
  position: absolute;
  

  top: 41.7em;
  bottom: 3em;
  /* right: 53em; */
  left: 32.5em;

  height: 1.5em;
  width: 4em;

  font-size: 20px;
  text-align: center;

  background-color: purple;
  color: white;
  border-radius: 5px;

}

.send-btn:active {
  background-color: rgb(97, 2, 97);
  transform: translateY(2px)
}