@font-face {
  font-family: 'proxima-nova-bold';
  src: url(../Proxima-Nova-Extra-Condensed/Demo_Fonts/Fontspring-DEMO-proximanova-semiboldit.otf)
}


* {
  font-family:  'proxima-nova-bold';
  --main-green: #32a877;
  --main-red: #A83263;
  --main-yellow: #9EA832;
  --main-blue: #3C32A8;

  background-color: #121212;
  /* background-color: #e4d3d3; */
  color: #ffffff;
  
}

.taskInput {
  position: absolute;

  left: 626px;
  right: 626px;
  bottom: 750px;
  top: 90px;

  width: 650px;
  height: 45px;

  margin: 2px;

  font-size: 30px;

  border-radius: 10px;
  border: 3px solid var(--main-red);
  

}

.taskInput:focus {
  border: 3px solid var(--main-red);
  outline: none;
}

.taskBox {
  border: 3.5px solid var(--main-green);
  border-radius: 15px;

  position: absolute;
  width: 650px;
  height: 750px;

  left: 630px;
  right: 630px;
  bottom: 750px;
  top: 150px;
  
  overflow: scroll;
}

.taskList {
  list-style: none;

  background-color: var(--main-red);
  position: relative;
  height: 70px;
  width: 480px;
  
  margin: 5px;

  padding-left: 5px;
  padding-right: 5px;

  /* border-radius: 15px; */
  
  font-size: 35px;
  overflow:hidden;
}

.taskListSmallText {
  list-style: none;

  background-color: var(--main-red);
  height: 70px;
  max-width: 450px;
  
  margin: 5px;

  padding-right: 5px;
  padding-left: 5px;

  
  font-size: 26px;
}


.taskDeleteButton {
  position: absolute;
  transform: translate(220px, -80px);

  background-color: var(--main-red);
  border:none;

  font-size: 55px;
  font-weight: 600;
  cursor: pointer;
}

.taskDeleteButtonSmallText {
  position: absolute;
  transform: translate(220px, -80px);

  background-color: var(--main-red);
  border:none;

  font-size: 55px;
  font-weight: 600;
  cursor: pointer;
}


.taskDiv {
  background-color: var(--main-red);
  border: 2.5px solid var(--main-red);
  border-radius: 15px;

  height: 70px;
  width: 550px;
  margin: 5px;

  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  padding-left: 5px;
}


/* width */
::-webkit-scrollbar {
  width: 10px;
  /* border-radius: 2px; */
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--main-green);  /* border-radius: 2px; */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  /* border-radius: 2px; */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  /* border-radius: 2px; */
}