* {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --main-green: #32a877;
  background-color: #121212;
  color: #ffffff;
  
}



.taskInput {
  position: absolute;

  left: 650px;
  right: 650px;
  bottom: 750px;
  top: 100px;

  width: 650px;
  height: 25px;

  font-size: 20px;

  border-radius: 10px;
  border: 3px solid var(--main-green)

}

.taskInput:focus {
  border: 3px solid #ffffff;
}

.taskBox {
  border: 3.5px solid var(--main-green);
  border-radius: 15px;

  position: absolute;
  width: 650px;
  height: 750px;

  left: 650px;
  right: 650px;
  bottom: 750px;
  top: 150px;
}