@font-face {
  font-family: 'proxima-nova-bold';
  src: url(../Proxima-Nova-Extra-Condensed/Demo_Fonts/Fontspring-DEMO-proximanova-semiboldit.otf)
}


* {
  /* font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  font-family:  'proxima-nova-bold';
  --main-green: #32a877;
  background-color: #121212;
  /* background-color: #e4d3d3; */
  color: #ffffff;
  
}

.taskInput {
  position: absolute;

  left: 630px;
  right: 630px;
  bottom: 750px;
  top: 100px;

  width: 650px;
  height: 25px;

  font-size: 20px;

  border-radius: 10px;
  border: 3px solid var(--main-green)

}

.taskInput:focus {
  border: 3px solid #ffffff;
}

.taskBox {
  border: 3.5px solid var(--main-green);
  border-radius: 15px;

  position: absolute;
  width: 650px;
  height: 750px;

  left: 630px;
  right: 630px;
  bottom: 750px;
  top: 150px;
}

.taskLI {
  list-style: none;

  background-color: #090101;
  position: relative;
  height: 70px;
  width: 550px;
  
  margin: 5px;
  padding: 5px;
  border: 2.5px solid var(--main-green);
  border-radius: 15px;
  
  font-size: 35px;
  font-weight: bold;
}

.taskUL {
  
}

.taskButton {
  position: absolute;
  transform: translate(200px, -80px);
  border-radius: 5px;
  font-size: 45px;
  font-weight: 600;
}
