* {
  background-color: #121212;
}

.forecastDiv {
  position: absolute;
  
  top: 575px;
  left: 340px;
  
  height: 325px;
  width: 950px;
  
  border: 1px solid rgb(255, 0, 242);
  border-radius: 10px;

}
/* *1075 x 1910 */

.App{
  position: absolute;
  height: 900px;
  width: 1300px;
  
  top: 87.5px;
  left: 305px;
  padding: 25px;

  border: 1px solid green;
  border-radius: 10px;
}

.navBar {
  position: absolute;
  
  width: 275px;
  height: 845px;
  
  top: 27.5px;
  /* left: ; */


  border: 1px solid rgb(242, 0, 255);
  border-radius: 10px;

}

.realtimeDiv{
  position: absolute;

  height: 475px;
  width: 625px;

  top: 27.5px;
  left: 337.5px;
  

  border: 1px solid rgb(242, 0, 255);
  border-radius: 10px;

}


.hourForecast {
  position: absolute;

  width: 275px;
  height: 845px;

  top: 27.5px;
  left: 500px;



  border: 1px solid rgb(242, 0, 255);
  border-radius: 10px;

}