 @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

 * {
  background-color: var(--primary-background);
  --main-black: #282c37;
  --main-darkGrey: #9baec8;
  --main-grey: #d9e1e8;
  --main-blue: #2b90d9;
  --main-blueGrey: #9baec8; /* !! Redundant variable*/
  --main-orange: #f5b183;
  --main-purple: #5c5a5e;

  --primary-div: var(--main-grey);
  --primary-background: var(--main-blue);

  --main-app: var(--main-darkGrey);
  --main-font: var(--main-black);
  
  --main-hourly: var(--main-blueGrey);


  --main-navbar-button: var(--main-orange);

  --main-navbar-home: var(--main-orange);
  --main-navbar-world: var(--main-orange);
  --main-navbar-map: var(--main-orange);
  --main-navbar-settings: var(--main-orange);


  font-family: 'Open Sans', 'sans-serif';
}

/* *1075 x 1910 */

.App{
  position: absolute;
  height: 900px;
  width: 1300px;
  
  top: 87.5px;
  left: 305px;
  padding: 25px;
  
  background-color: var(--main-app);
  border-radius: 10px;
}

.navbar {
  position: absolute;
  
  width: 150px;
  height: 870px;
  
  top: 27.5px;

  background-color: var(--primary-div);
  border-radius: 10px;

}

.navbar__hr {
  border: 1px solid var(--main-darkGrey);
}



.navbar__pages {
  border-radius: 7px;
  height: 100px;
  margin: 12px;

  font-size: 25px;
  display: flex;
  justify-content: center;
}


.navbar__pages__button {
  border-radius: 7px;
  border: 0px;
  text-align: left;
  margin: 5px;
  width: 125px;
  height: 90px;
  cursor: pointer;
}


.navbar__pages__button__icon-div, .navbar__pages__button__text {
  text-align: center;
  border-radius: 7px;

}


.navbar__pages__button__icon-div {
  font-size: 35px;
}


.navbar__pages__button__text {
  font-size: 25px;
}


.realtime-main {
  position: absolute;
  padding: px;

  height: 475px;
  width: 775px;

  top: 27.5px;
  left: 200px;
  
  background-color: var(--primary-div);
  border-radius: 10px;
}

.realtime-h1, .realtime-h2 {
  
  margin: 0 auto;
  display: block;

  margin: 40px;
  padding: 5px;

  background-color: var(--main-div);
  color: var(--main-font);
}


.realtime-h2 {
  font-size: 30px;
}

.realtime-h1 {
  font-size: 60px;
}


.hour-forecast {
  position: absolute;

  width: 290px;
  height: 475px;

  top: 27.5px;
  left: 1000px;


  background-color: var(--primary-div);
  border-radius: 10px;

}


.hour-div__hours {
  background-color: var(--main-hourly);
  color: var(--main-font);
  font-size: 30px;
  text-align: center;


  margin: 20px;
  border-radius: 7px;

  height: 55px;
}

.variable {
  position: absolute;
  
  top: 525px;
  left: 200px;
  
  height: 375px;
  width: 1090px;
  
  background-color: var(--primary-div);
  border-radius: 10px;

}

.variable__home {

}

.variable__world {

}

.variable__map {

}

.variable__settings {
  background-color: var(--main-grey);
}

.variable__settings__metric {
  background-color: var(--main-grey);
  
  position: absolute;
  margin-top: 50px;
  margin-left: 30px;
  top: 80px;

}


.variable__settings__metric__button-label {
  background-color: var(--main-grey);
  position: absolute;
  top: 50px;
  width: 500px;
  margin-top: 10px; 
  margin-bottom: 10px;

  font-size: 30px;
}

.variable__settings__metric__metric-current {
  background-color: var(--main-grey);
  position: absolute;
  top: 100px;

  width: 200px;

  margin-top: 10px; 
  margin-bottom: 10px;

  font-size: 25px;
}

.variable__settings__metric__button {
  background-color: #9baec8;
  position: absolute;
  /* background-color: var(--main-grey); */
  width: 140px;
  height: 40px;
  
  top: 150px;
  
  margin-top: 10px;
  margin-bottom: 10px;
  
  font-size: 20px;
  border-radius: 7px;
  border: 0px;
  padding: 0px;
  
  cursor: pointer;
}
.variable__settings__metric__button:active {
  background-color: var(--main-grey);
}

.variable__settings__location-div {
  width: 0px;
  position: relative;
  left: 30px;
  top: 10px;
}
.variable__settings__location-div__input-label,
.variable__settings__location-div__current-location,
.variable__settings__location-div__input {
  margin-top: 7px;
  margin-bottom: 7px;
}



.variable__settings__location-div__input-label {
  background-color: var(--main-grey);
  font-size: 30px;
  width: 350px;
  
  
}
.variable__settings__location-div__current-location {
  background-color: var(--main-grey);
  width: 300px;
  font-size: 25px;
}


.variable__settings__location-div__input {
  background-color: var(--main-grey);
  position: absolute;
  width: 250px;
  height: 30px;

  font-size: 20px;  
  border: 0px;
}

.variable__settings__location-div__input:focus-visible {
  outline: none;
}