 @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

 * {
  background-color: var(--primary-background);
  --main-black: #282c37;
  --main-darkGrey: #9baec8;
  --main-grey: #d9e1e8;
  --main-blue: #2b90d9;
  --main-blueGrey: #9baec8;
  /* --main-orange: #f5b183; */
  --main-purple: #5c5a5e;

  --primary-div: var(--main-grey);
  --primary-background: var(--main-blue);

  --main-app: var(--main-darkGrey);
  --main-font: var(--main-black);
  
  --main-hourly: var(--main-blueGrey);
  font-family: 'Open Sans', 'sans-serif';
}

/* *1075 x 1910 */

.App{
  position: absolute;
  height: 900px;
  width: 1300px;
  
  top: 87.5px;
  left: 305px;
  padding: 25px;
  
  background-color: var(--main-app);
  border-radius: 10px;
}

.forecast-div {
  position: absolute;
  
  top: 550px;
  left: 340px;
  
  height: 350px;
  width: 950px;
  
  background-color: var(--primary-div);
  border-radius: 10px;

}

.navbar {
  position: absolute;
  
  width: 150px;
  height: 870px;
  
  top: 27.5px;

  background-color: var(--primary-div);
  border-radius: 10px;

}


.navbar__pages {
  font-family: var(--main-font);
  border-radius: 7px;
  height: 90px;
  width: 125px;
  margin: 12px;

  

  font-size: 25px;
  /* padding: 5px; */
  /* text-align: center; */
  display: flex;
  justify-content: center;

  /* width: 20px; */
}

.navbar__pages__content {
  border-radius: 7px;
  text-align: left;
  /* border: 1px solid purple; */
  margin: 5px;
  width: 192.5px;
  height: 38.5px
}

.navbar__pages__content__icon {

}

.navbar__pages__content__text {
  
}


.realtime-main {
  position: absolute;
  padding: px;

  height: 475px;
  width: 625px;

  top: 27.5px;
  left: 337.5px;
  
  background-color: var(--primary-div);
  border-radius: 10px;
}

.realtime-h1, .realtime-h2 {
  
  margin: 0 auto;
  display: block;

  margin: 40px;
  padding: 5px;

  background-color: var(--main-div);
  color: var(--main-font);
}


.realtime-h2 {
  font-size: 30px;
}

.realtime-h1 {
  font-size: 60px;
}


.hour-forecast {
  position: absolute;

  width: 290px;
  height: 475px;

  top: 27.5px;
  left: 1000px;


  background-color: var(--primary-div);
  border-radius: 10px;

}

.hour-div {
  background-color: var(--main-grey);
}

.hour-div__hours {
  background-color: var(--main-hourly);
  color: var(--main-font);
  font-size: 30px;
  text-align: center;


  margin: 20px;
  border-radius: 7px;

  height: 55px;
}